#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6 {
    /*position: relative;*/
    /*left: -30px;*/
    cursor: pointer;
    transition: all 500ms;
}


#post-content h1:hover,
#post-content h2:hover,
#post-content h3:hover,
#post-content h4:hover,
#post-content h5:hover,
#post-content h6:hover {
    text-decoration: underline;
}

#post-content table {
    table-layout: fixed;
    width: 100%;
}

#post-content table td {
    word-break: break-all;
}

/*#post-content table .icon,*/
/*#post-content .colist table tr > td:first-child {*/
/*    width: 8rem;*/
/*    padding: 0;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    line-height: 1.5;*/
/*    height: 8rem;*/
/*}*/

/*#post-content .colist table tr > td:first-child {*/
/*    height: 2rem;*/
/*    width: 2rem;*/
/*    text-align: left;*/
/*}*/

#post-content a {
    overflow-wrap: break-word;
}

#post-content table pre {
    overflow: scroll;
}

.MuiDrawer-docked > .MuiPaper-root{
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#post-toc #toc {
    font-weight: 600;
}

#post-toc #toc > #toctitle {
    font-size: 2em;
}

#post-toc #toc > ul {
    padding: 0;
    margin: 1rem 0 0 0;
}

#post-toc #toc li {
    list-style: none;
    margin: 0.5rem 0 0 0;
}

#post-toc #toc a {
    text-decoration: none;
    color: #315ae0 !important;
    display: block;
    width: 100%;
}

#post-toc #toc a:hover {
    color: #6983d6 !important;
    text-decoration: underline !important;
}

.quoteblock, code {
    word-break: break-all;
}

.utterances {
    margin-top: 2rem;
}
